<div class="home_container">
    <mat-toolbar>
        <div class="logo">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon class="menu-icon">menu</mat-icon>
            </button>
            <span>
                <img src="../../../assets/images/fundooLogo.png" class="img_logo" />
            </span>
            <span style="color:#5F6C7F">{{page}}</span>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill" [style.width.px]=600>
                <input matInput placeholder="Search">
                <mat-icon matPrefix [style.margin-right.px]=12>search</mat-icon>
                <mat-icon matSuffix>close</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <button mat-icon-button class="example-icon favorite-icon" (click)="toggleView()">
                <mat-icon *ngIf="list">view_list</mat-icon>
                <mat-icon *ngIf="!list">view_module</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="profileMenu" style="padding-top:20px;" id="profileMenu">
                <img src="../../../assets/images/profilePic.PNG" class="profilePic" style="margin-top:10px">
                <h1>{{userDetails.firstName}} {{userDetails.lastName}}</h1>
                <p>{{userDetails.email}}</p>
                <mat-divider style="margin-top: 20px;"></mat-divider>
                <button mat-stroked-button style="margin:10px 0" (click)="SignOut()">Sign out</button>
                <mat-divider></mat-divider>
            </mat-menu>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="main">
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="side_nav" (mouseover)='opened=true'>
            <mat-nav-list>
                <mat-list-item (click)="page='Fundoo'">
                    <mat-icon mat-list-icon class="sidenavLogo">lightbulb_outline</mat-icon>
                    <h4 mat-line>Notes</h4>
                </mat-list-item>
                <mat-list-item (click)="page='Reminder'">
                    <mat-icon mat-list-icon class="sidenavLogo">notifications_none</mat-icon>
                    <h4 mat-line>Reminders</h4>
                </mat-list-item>
                <mat-list-item *ngFor="let label of labels" (click)="page='Label';labelName=label">
                    <mat-icon mat-list-icon class="sidenavLogo">label_outline</mat-icon>
                    <h4 mat-line>{{label}}</h4>
                </mat-list-item>
                <mat-list-item (click)="openDialog()">
                    <mat-icon mat-list-icon class="sidenavLogo material-icons-outlined">edit</mat-icon>
                    <h4 mat-line>Edit labels</h4>
                </mat-list-item>
                <mat-list-item (click)="page='Archive'">
                    <mat-icon mat-list-icon class="sidenavLogo material-icons-outlined">archive</mat-icon>
                    <h4 mat-line>Archive</h4>
                </mat-list-item>
                <mat-list-item (click)="page='Trash'">
                    <mat-icon mat-list-icon class="sidenavLogo material-icons-outlined">delete</mat-icon>
                    <h4 mat-line>Trash</h4>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="mainContent" *ngIf="page=='Fundoo'||page=='Reminder'||page=='Label'">
                <app-add-note></app-add-note>
            </div>
            <div class="get_notes">
                <app-get-notes *ngIf="page=='Fundoo'"></app-get-notes>
                <app-archive *ngIf="page=='Archive'"></app-archive>
                <app-reminders *ngIf="page=='Reminder'"></app-reminders>
                <app-trash-notes *ngIf="page=='Trash'"></app-trash-notes>
                <app-get-labels *ngIf="page=='Label'" [label] = "labelName"></app-get-labels>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>