<div class="icons">
    <mat-icon mat-list-icon class= "material-icons-outlined">notifications_none</mat-icon>
    <mat-icon mat-list-icon class= "material-icons-outlined">person_add</mat-icon>
    <mat-icon mat-list-icon class= "material-icons-outlined">color_lens</mat-icon>
    <mat-icon mat-list-icon class= "material-icons-outlined">image</mat-icon>
    <mat-icon mat-list-icon class= "material-icons-outlined">archive</mat-icon>
    <mat-icon mat-list-icon class= "material-icons-outlined">more_vert</mat-icon>
    <mat-icon mat-list-icon class= "material-icons-outlined">redo</mat-icon>
    <mat-icon mat-list-icon class= "material-icons-outlined">undo</mat-icon>
    <button mat-button color="primary" (click)="Close()">Close</button>
</div>
