.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    mat-icon{
        color:#767676;
        font-size: 20px;
    }
}
 ::ng-deep.mat-menu-panel 
{
    max-width: 80px;
    border-radius: 8px !important;
}