@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.register_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}   
.register_card
{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    padding: 3%;
    .register_inputs
    {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        font-family: 'Roboto', sans-serif;
        mat-card-title{
            font-family: 'Roboto', sans-serif;
        }
        h1{
            
            font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
        }
        mat-form-field{
            font-size: 12px;
        }
        .userNames{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .form-input
        {
            width: 81%;
        }
        
    }
    .register_image_container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
        
    }
}

