@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
$hintSize:12px;
$ffamily:Verdana, Geneva, Tahoma, sans-serif;
@mixin displayFlex($property:flex, $direction:row,$justifyContent:center,$alignItems:center) {
    display: $property;
    flex-direction:$direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
  }
.register_container
{
    @include displayFlex;
    margin-top: 3%;
}   
.register_card
{
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    border:0.5px solid #DDDFE2;
    min-height: 500px;
    
    .register_inputs
    {
        @include displayFlex($direction:column,$justifyContent:none,$alignItems:none);
        flex-grow: 2;
        width: 0%;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        h2{
            font-family:$ffamily;
        }
        mat-card-title{
            @extend h2;
        }
        mat-form-field{
            font-size: 12px;
            input{
                padding: 2px;
            }
        }
        mat-label{
            font-size: 15px;
        }
        mat-hint{
            font-size: $hintSize;
        }
        mat-error{
            font-size: 13px;
        }
        .inline-inputs{
            @include displayFlex($justifyContent:space-between,$alignItems:none);
            flex-wrap: wrap;
            width: 100%;
        }
        .form-input
        {
            width: 100%;
        }
        .button_container
        {
            flex-wrap: wrap;
            @include displayFlex($justifyContent:space-between,$alignItems:none);
        }
        .register-form
        {
            div:not(:last-child){
                margin-top: 15px;
            }
            div:last-child {
               margin-top: 95px;
              }
        }
        
    }
    .register_image_container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include displayFlex($direction:column);
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
        
    }
}
@media only screen and (max-width: 1350px) {
    .register_card
    {
        width: 40%;
    }
    .register_image_container
    {
        display: none!important;
        
    }
    .register_card
    {
        flex-direction: column;
    }
    .register_inputs
    {
        width: 100%!important;
    }
    mat-form-field{
        width: 90%;
    }
    .form-input
    {
        width: 90%!important;
    }
    .button_container
    {
        width: 90%!important;
    }
}
@media only screen and (max-width: 600px) {
    .register_card
    {
        width: 100%;
    }
}

