.notes
{
    margin-left: 100px;
    margin-top: 30px;
 } 
::ng-deep .getNoteCard
{
    display: flex;
    flex-direction: column;
    width:200px;
    max-height: 500px;
    min-height: 95px;
    align-items: center;
    border-radius: 16px;
    margin-top: 25px;
    background-color: #F28B82;
    border: 1px solid #E0E0E0 ;
}

::ng-deep .card_title
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.reminderLabel
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #EBEBEB;
    font-size: 10px;
    width: fit-content;
    max-height: 25px;
    border-radius: 15px;
    p{
        margin-top: 10px;
    }
    mat-icon{
        font-size: 17px;
        margin-left: 3px;
        margin-top: 5px;
    }
}
.cursor:hover
{
    cursor: pointer;
}  

