@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
mat-expansion-panel {
    width: 65%;
    border-radius: 10px;
    margin-top: 25px;

  }
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  }
  ::ng-deep .mat-drawer-content{
      overflow:unset;
  } 
  .title{
      font-size: 16px;
      flex-grow: 12;
      padding-top: 10px;
  }
  
.icons{
      display: flex;
      flex-grow: 3;
      justify-content: space-around;
    }
    .mat-expansion-panel-header-description {
        display: unset;
        margin-right: 0;
    }
    mat-card{
        display: flex;
        flex-direction: row;
        min-width:575px;
        align-items: center;
        border-radius: 10px;
        margin-top: 25px;
    }
    .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    }
    .small-card-title{
        font-size: 13px;
        flex-grow: 12;
        height: 10px!important;
        input{
            outline: none;
            height: 100%;
            border: none;
            font-size: 13px;
        }
    }
    .bigCard
    {
        display: flex;
        flex-direction: column;
    }
    .textarea
    {
        width: 400px;
        border: none;
        font-size: 16px;
        margin-left: 0px;
        outline: none;
    }
    .big-card-title
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .big-card-content
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    mat-card-footer
    {
        width: 100%;
    }
    