<mat-card *ngIf="smallNote" (click)="showNote()">
    <mat-card-title class="small-card-title">
       <input type="text" placeholder="Take a Note..."> 
    </mat-card-title>
    <mat-card-subtitle class="icons">
        <mat-icon mat-list-icon class= "material-icons-outlined">check_box</mat-icon>
        <mat-icon mat-list-icon class= "material-icons-outlined">brush</mat-icon>
        <mat-icon mat-list-icon class= "material-icons-outlined">crop_original</mat-icon>  
    </mat-card-subtitle>
</mat-card>
<mat-card class="bigCard" *ngIf="bigNote" [style.background-color]="noteColor">
    <form [formGroup]="NoteForm">
        <mat-card-title class="big-card-title">
            <textarea cdkTextareaAutosize placeholder="Title" class="textarea" formControlName ="Title" [style.background-color]="noteColor"></textarea>
            <button mat-icon-button class="example-icon favorite-icon" (click)="pinNote()">
                <mat-icon mat-list-icon class= "material-icons-outlined" style="color:#212121 ;" *ngIf="!pinned">push_pin</mat-icon>
                <mat-icon mat-list-icon style="color:#212121;" *ngIf="pinned">push_pin</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content class="big-card-content">
        <textarea cdkTextareaAutosize placeholder="Take a Note..." class="textarea" formControlName ="Description" [style.background-color]="noteColor"></textarea>
        </mat-card-content>
        <mat-card-footer>
            <span *ngIf="isReminder" class="reminderLabel">
                <mat-icon mat-list-icon class="material-icons-outlined">watch_later</mat-icon>
                <p>{{Reminder}}</p>
                <mat-icon mat-list-icon class="material-icons-outlined cursor" (click)="RemoveReminder()">close</mat-icon>
            </span>
            <app-note-icons></app-note-icons>
        </mat-card-footer>
    </form>
</mat-card> 
