<div class="ForgetPassword_container">
    <mat-card class="ForgetPassword_card">
      <div class="ForgetPassword_inputs">
        <mat-card-title>
          <span style="color: #4285F4;">F</span>
          <span style="color: #EA4335;">u</span>
          <span style="color: #FBBC05;">n</span>
          <span style="color: #4285F4;">d</span>
          <span style="color: #34A853;">o</span>
          <span style="color: #EB4E41;">o</span>
        </mat-card-title>
        <h2>Forget Password</h2>
        <h3>Enter your email</h3>
  
        <form class="ForgetPassword-form" [formGroup] ="ForgetPasswordForm">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>User name</mat-label>
              <input type="email" matInput id="email" formControlName ="email">
              <mat-error *ngIf="ForgetPasswordForm.controls['email'].invalid">value is required</mat-error>
            </mat-form-field>
          </div>
          <div class="button_container">
            <button type="submit" [disabled]="ForgetPasswordForm.invalid" mat-raised-button color="primary" (click)="forgetPassword()">Next</button>
          </div>
  
        </form>
      </div>
    </mat-card>
  </div>

