.action_buttons{
    background-color: #EDEDED;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 6%;
   }
   ::ng-deep .mat-dialog-container{
    width: 600px !important;
    border-radius: 7px;
    padding: 8px 0px 17px 0px!important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    }
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .UserName{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        p{
            font-size: 13px;
        }

    }
}
.profilePic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
 }
 .collabButton:hover
 {
    cursor: pointer;
 }
h4{
    font-weight: 800;
    font-size: 13px;
    color: #202124;
}
.add{
    @extend .profilePic;
    border:1px solid #6D6D6D;
}
.addperson{
    padding: 7px 9px ;
    color: #7F7F7F;
}
.person{
    margin-left:5px ;
    border: unset;
    font-size: 13px;
    color: #3c4043;
    width:300px;
    background-color: transparent;
    width: 490px;
}
.person:focus { 
    outline: none !important;
    border-color: white;
 }