<div class="ResetPassword_container">
    <mat-card class="ResetPassword_card">
        <div class="ResetPassword_inputs">
            <mat-card-title>
                <span style="color: #4285F4;">F</span>
                <span style="color: #EA4335;">u</span>
                <span style="color: #FBBC05;">n</span>
                <span style="color: #4285F4;">d</span>
                <span style="color: #34A853;">o</span>
                <span style="color: #EB4E41;">o</span>
            </mat-card-title>
            <h2>Reset Password</h2>
            <h3>Enter your New Password</h3>
            <form class="ResetPassword-form" [formGroup] ="ResetPasswordForm">
                <div>
                    <mat-form-field appearance="outline">
                      <mat-label>User name</mat-label>
                      <input type="email" matInput id="email" formControlName ="email" >
                      <mat-error *ngIf="ResetPasswordForm.controls['email'].invalid">value is required</mat-error>
                    </mat-form-field>
                  </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [type]="hide?'password':'text'" matInput id="password" formControlName ="password">
                        <mat-error *ngIf="ResetPasswordForm.controls['password'].invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input [type]="hide?'password':'text'" matInput id="confirmPassword" formControlName ="confirmPassword" pattern="{{ this.ResetPasswordForm.value.password}}">
                        <mat-error *ngIf="ResetPasswordForm.controls['confirmPassword'].invalid">Password doesn't match</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-checkbox id="showPassword" (click)="showPassword()">Show Password</mat-checkbox>
                </div>
                <div class="button_container">
                    <button type="submit" mat-raised-button color="primary" [disabled]="ResetPasswordForm.invalid" (click)="ResetPassword()">Change password</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>