<div class="ResetPassword_container">
    <mat-card class="ResetPassword_card">
      <div class="ResetPassword_inputs">
        <mat-card-title>
          <span style="color: #4285F4;">F</span>
          <span style="color: #EA4335;">u</span>
          <span style="color: #FBBC05;">n</span>
          <span style="color: #4285F4;">d</span>
          <span style="color: #34A853;">o</span>
          <span style="color: #EB4E41;">o</span>
        </mat-card-title>
        <h2>Reset Password</h2>
        <h3>Enter your New Password</h3>
  
        <form class="ResetPassword-form">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput id="password">
              
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput id="confirmPassword">
            </mat-form-field>
          </div>
          <div class="button_container">
            <button type="submit"  mat-raised-button color="primary" >Change password</button>
          </div>
  
        </form>
      </div>
    </mat-card>
  </div>


