<div class="login_container">
    <mat-card class="login_card">
      <div class="login_inputs">
        <mat-card-title>
          <span style="color: #4285F4;">F</span>
          <span style="color: #EA4335;">u</span>
          <span style="color: #FBBC05;">n</span>
          <span style="color: #4285F4;">d</span>
          <span style="color: #34A853;">o</span>
          <span style="color: #EB4E41;">o</span>
        </mat-card-title>
        <h2>Sign In</h2>
  
        <form class="login-form">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>User name</mat-label>
              <input type="email" matInput id="email">
              <mat-hint>You can use letters, numbers &amp; periods</mat-hint>
            </mat-form-field>
          </div>
  
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput id="password">
            </mat-form-field>
          </div>
          <div class="button_container">
            <button mat-button color="primary">Sign in instead</button>
            <button mat-raised-button color="primary">login</button>
          </div>
  
        </form>
      </div>
    </mat-card>
  </div>
