<div class="login_container">
    <mat-card class="login_card">
      <div class="login_inputs">
        <mat-card-title>
          <span style="color: #4285F4;">F</span>
          <span style="color: #EA4335;">u</span>
          <span style="color: #FBBC05;">n</span>
          <span style="color: #4285F4;">d</span>
          <span style="color: #34A853;">o</span>
          <span style="color: #EB4E41;">o</span>
        </mat-card-title>
        <h2>Sign in</h2>
        <h3>Use your Fundoo Notes Account</h3>
  
        <form class="login-form" [formGroup] ="LoginForm">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>User name</mat-label>
              <input type="email" matInput id="email" formControlName ="email">
              <mat-error *ngIf="LoginForm.controls['email'].invalid">value is required</mat-error>
            </mat-form-field>
          </div>
  
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input [type]="hide ? 'password' : 'text'" matInput id="password" formControlName ="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="LoginForm.controls['password'].invalid">value is required</mat-error>
            </mat-form-field><br>
            <a href="" [routerLink]="['/forgetPassword']" class="forget_password">Forgot Password?</a>
          </div>
          <div class="button_container">
            <button [routerLink]="['/register']" mat-button color="primary">Create Account</button>
            <button type="submit" [disabled]="LoginForm.invalid" mat-raised-button color="primary" (click)="Login()">login</button>
          </div>
  
        </form>
      </div>
    </mat-card>
  </div>
