@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
$hintSize:12px;
$ffamily:Verdana, Geneva, Tahoma, sans-serif;
@mixin displayFlex($property:flex, $direction:row,$justifyContent:center,$alignItems:center) {
    display: $property;
    flex-direction:$direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
  }
.login_container
{
    @include displayFlex;
    margin-top:3%;
}   
.login_card
{
    @include displayFlex($direction:column,$justifyContent:none,$alignItems:none);
    flex-wrap: wrap;
    text-align: center;
    width: 30%;
    border:0.5px solid #DDDFE2;
    // min-height: 500px;
    .login_inputs
    {
        @include displayFlex($direction:column,$justifyContent:none,$alignItems:none);
        flex-grow: 2;
        padding: 10px;
        h2{
            font-family:$ffamily;
        }
        mat-card-title{
            @extend h2;
        }
        mat-form-field{
            width: 80%;
            input{
                padding: 3px;
            }
        }
        mat-label{
            font-size: 15px;
        }
        mat-hint{
            font-size: $hintSize;
        }
        .forget_password
        {
            @include displayFlex($direction:none,$justifyContent:none,$alignItems:flex-start);
            text-decoration: none;
            font-weight: bold;
            color: #1A73E8;
            margin-left: 45px;
        }
        .button_container
        {
            @include displayFlex($alignItems:none,$justifyContent:space-between);
            flex-wrap: wrap;
        }
        .login-form
        {
            div:not(:last-child){
                margin-top: 15px;
            }
            div:last-child {
               margin-top: 95px;
              }
        }
        
    }
}
@media only screen and (max-width: 1350px) {
    .login_card
    {
        width: 40%;
    }
    .login_image_container
    {
        display: none!important;
        
    }
    .login_card
    {
        flex-direction: column;
    }
    .login_inputs
    {
        width: 100%!important;
    }
    mat-form-field{
        width: 90%;
    }
    .form-input
    {
        width: 90%!important;
    }
    .button_container
    {
        width: 90%!important;
    }
}
@media only screen and (max-width: 600px) {
    .login_card
    {
        width: 100%;
    }
}

