<div class="emptyTrash">
    <h3 style="font-style:italic;">Notes in Trash are deleted after 7 days.</h3>
    <button mat-button color="primary" style="margin-top:-15px;margin-left:15px;" (click)="emptyTrash()">Empty Trash</button>
</div>
<div class="allNotes">
    <div *ngFor="let note of notes">
        <div class="notes" id={{note.noteId}} (mouseenter)="hovered=true" (mouseleave)="hovered=false">
            <mat-card class="getNoteCard" [style.background-color]="note.color">
                <div>
                    <mat-card-title>
                        <div class="card_title">
                            <div id="noteTitle" class="noteTitle">
                                <h2>{{note.title}}</h2>
                            </div>
                        </div>
                    </mat-card-title>
                    <mat-card-content>
                        <div id="noteDescription" class="noteDescription">
                            <p>{{note.description}}</p>
                        </div>
                    </mat-card-content>
                    <mat-card-footer *ngIf="hovered==true">
                        <div class="getIcons" >
                            <button mat-icon-button class="example-icon favorite-icon" matTooltip="Delete Forever" (click)="deleteForever(note)">
                                <mat-icon mat-list-icon class="material-icons-outlined">delete_forever</mat-icon>
                            </button>
                            <button mat-icon-button class="example-icon favorite-icon" matTooltip="Restore" (click)="RestoreNote(note)">
                                <mat-icon mat-list-icon class="material-icons-outlined">restore_from_trash</mat-icon>
                            </button>
                        </div>
                    </mat-card-footer>
                </div>
            </mat-card>
        </div>
    </div>
</div>