::ng-deep .dialog-container-custom-edit .mat-dialog-container 
{
    border-radius: 0;
    padding: 0px 0px 0px 0px!important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    min-width: 250px;
    min-height: 250px;
}
.editLabelContainer{
    width: 100%;
    padding: 10px;
}
.doneButton{
    margin-left: 170px;
    margin-top: 5px;
}
.footer{
    bottom: 0;
}